%hr.space
%hr.space
%hr.space
%hr.space

%h1.title
  Iniciativas

%hr.space
%hr.space


%div{ :class => 'push-1 prepend-1 span-20 append-1 rounded_box' }
  %div{ :id => "cyl_map",:class => 'prepend-1 span-10', :height => "200"}
%hr.space
%hr.space

:javascript 
  jQuery.ready(function() {})
