#header
  =link_to image_tag("logo.png", :id => "logo"), '/', :block => 0
  #header_links

  #menu
    -if session[:menu] == "sessions"
      %span#menu_selected
        Plenos
    -else
      =link_to "Plenos", url_for(:controller => 'sessions', :action => 'index')
    %span.link_separator
      &nbsp;
    -if session[:menu] == "intiatives"
      %span#menu_selected
        Iniciativas
    -else
      =link_to "Iniciativas", url_for(:controller => 'initiatives', :action => 'index')
    %span.link_separator
      &nbsp;
    -if session[:menu] == "news"
      %span#menu_selected
        Noticias
    -else
      =link_to "Noticias", url_for(:controller => 'news', :action => 'index')
    %span.link_separator
      &nbsp;
    -if session[:api] == "api"
      %span#menu_selected
        API
    -else
      =link_to "API", url_for(:controller => 'dev', :action => 'show')
    %span.link_separator
      &nbsp;
    -if session[:menu] == "about"
      %span#menu_selected
        Acerca de
    -else
      =link_to "Acerca de", url_for(:controller => 'about', :action => 'index')
