=render :partial => "shared/tag_cloud_words"
%hr.space
%hr.space
%h1 Qué es lo que se discute en esta nuestra comunidad Castilla y León
%div{ :id => "words_tag_cloud", :class => 'span-24 last', :height => "400"}
