=render :partial => "shared/tag_cloud_words"
%hr.space
%hr.space
%hr.space
%hr.space

%h1{:id => "home-about-title", :class => 'title'}
  Qu&eacute; es lo que se discute en esta nuestra comunidad: Castilla y Le&oacute;n
%div{ :id => "words_tag_cloud", :class => 'span-24 last', :height => "400"}
