:javascript
  #{data_json}

=render :partial => "shared/tag_cloud"
%hr.space
%hr.space
%hr.space
%hr.space

%h1.title
  Intervenciones en la sesion: #{@session.identifier} - #{@session.date}

%hr.space
%hr.space

-@interventions.each do |intervention|
  =render :partial => "intervention", :locals => { :intervention => intervention }

%hr.space
%hr.space
