%hr.space
%hr.space
%hr.space
%hr.space
%h1.title Acerca de esta web
%hr.space
%hr.space
.summary_session{ :class => 'push-1 prepend-1 span-20 append-1 rounded_box' }
  %div{ :class => 'title span-20 last' }
    ¿Qué sentido tiene esta web?
  %hr.space
  %p
    Esta web trata de resumir de que hablan nuestros políticos en las cortes de Castilla y León. Es, lamentablemente, muy habitual votar a nuestros políticos y no conocer el trabajo que realizan más allá de lo que conocemos a través de los medios de comunicación.
  %p
    La web oficial de
    %a{:href => "http://www.ccyl.es/"}
      Las Cortes de Castilla y León
    contiene muchísima información, esta web se limita a recogerla y clasificarla de forma que es posible con un solo vistazo conocer los temas que se han tratado en cada sesión.
  %p
    Para esta tarea hemos utilizado t&eacute;nicas de procesamiento del lenguaje natural para obtener el texto disponible a trav&eacute;s de la cortes, realizar su an&aacute;lisis lingu&iacute;stico y buscar nuevas formas intuitivas de interpretarlo.
  %p
    Esta web se ha creado para el concurso
    %a{ :href=>"http://abredatos.es"} abredatos 2010
    , que trata de acercar los datos públicos al ciudadano
%hr.space
.summary_session{ :class => 'push-1 prepend-1 span-20 append-1 rounded_box' }
  %div{ :class => 'title span-20 last' }
    ¿Quién está detrás?
  %hr.space
  %p
    Antonio Garrote // developer
    %a{ :href=> "http://github.com/antoniogarrote"} web
    %a{ :href=> "http://twitter.com/antoniogarrote"} twitter
  %p
    Félix López // developer
    %a{ :href=> "http://www.linkedin.com/in/flopezluis"} web
    %a{ :href=> "http://twitter.com/flopezluis"} twitter
  %p
    Edu Lanchares // developer
    %a{ :href=> ""} web
  %p
    Javi Santana // developer
    %a{ :href=> "http://javisantana.com"} web
    %a{ :href=> "http://twitter.com/javisantana"} twitter
%hr.space
%hr.space

