%hr.space
%hr.space
%hr.space
%hr.space
%h1.title Acerca de esta web
%hr.space
.summary_session{ :class => 'push-1 prepend-1 span-20 append-1 rounded_box' }
  %div{ :class => 'title span-20 last' }
    ¿Qué sentido tiene esta web?
  %p 
    Esta web trata de resumir de que hablan nuestros políticos en las cortes de Castilla y León. Es, lamentablemente, muy habitual votar a nuestros políticos y no conocer el trabajo que realizan más allá de lo que conocemos a través de los medios de comunicación.
  %p
    La web oficial de Las Cortes de Castilla y León contiene muchísima información, esta web se limita a recogerla y clasificarla de forma que es posible con un solo vistazo conocer los temas que se han tratado en cada sesión.[BLBLABLAA]
  %p 
    Esta web se ha creado para el concurso 
    %a{ :href=>"http://abredatos.es"} abredatos 2010
    , que trata de acercar los datos públicos al ciudadano

.summary_session{ :class => 'push-1 prepend-1 span-20 append-1 rounded_box' }
  %div{ :class => 'title span-20 last' }
    ¿Quién está detrás?
  %p 
    Antonio Garrote: 
    %a{ :href=> ""} web
  %p 
    Félix López
    %a{ :href=> ""} web
  %p 
    Edu Lanchares
    %a{ :href=> ""} web
  %p 
    Javi Santana
    %a{ :href=> ""} web
    
